{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Atomics": "readonly",
    " SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "generator-star-spacing": "off",
    "no-tabs": 0,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": ["error", "always"],
    "no-delete-var": 2,
    "prefer-const": [
      2,
      {
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
